<div class="card">
  <div class="card-body">
    @for (r of matrix(); track $index; let rowIdenx = $index) {
      <div class="tetris-row">
        @for (c of r; track $index; let colIndex = $index) {
          <div
            class="tetris-cell"
            [style.background-color]="
              canPaintCell(rowIdenx, colIndex)
                ? currentPiece()?.color || 'transparent'
                : 'transparent'
            "
          ></div>
        }
      </div>
    }
  </div>
</div>
